{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  .black {
    color: #000;
  }
</style>
{% endblock %}
{% block content %}

<div class="album py-5 ">
  <div class="container">


    {% if html_content %}

    {{ html_content | safe }}

    {% endif %}
    <div class="sectionContainer">
      <h2 class="text-center">View our guides</h2>

      <section>
        {% for guide in guides %}
        <!-- guide start -->
        <div class=" my-8 card bg-zinc-800 shadow-xs max-sm:mx-4 w-full border border-zinc-600 flex flex-col ">
          <figure class="object-contain h-24">
            <img src="{{ guide.image_url }}" alt="{{ guide.title }}" />
          </figure>
          <div class="card-body flex flex-col justify-between grow">
            <h3 class="card-title flex justify-between items-center text-2xl! text-emerald-500!">
              <a href="{{ guide.link }}">{{ guide.title }}</a>
            </h3>
            <p class="grow">{{ guide.description }}</p>
            <div class="card-actions justify-end">
              <div class="badge badge-outline text-white">{{ guide.category_1 }}</div>
              <div class="badge badge-outline text-white">{{ guide.category_2 }}</div>
            </div>
          </div>
        </div>
        <!-- guide end -->
        {% endfor %}
      </section>


    </div>


    {% endblock %}