{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %}
{% block content %}

<!-- Hero -->
<div class="w-screen hero  min-h-screen bg-zinc-950/50">
  <div class=" hero-content flex-col lg:flex-row-reverse space-x-16">
    <img src="{{ url_for('static', filename='/images/hero_excel.png') }}" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">Elevate Your Supply Chain Career with Advanced Data Skills</h1>
      <p class="py-6">
        Earn a Rutgers Business School certification while learning advanced Excel, Python, and Power BI through the
        BASE Advanced Excel Workshop
      </p>
      <a href="/#get-notified">
        <button class="btn btn-primary">Get Started</button>
      </a>
    </div>
  </div>
</div>

<!-- About -->

<div class="sectionContainer w-screen">
  <section>
    <h3>About</h3>
    <h2>BASE Advanced Excel Workshop</h2>
    <p>
      The Business Association of Supply Expertise(BASE) is a Rutgers Business School student organization focusing on
      preparing students
      for entering the world of supply chain. This program is created and ran by the Newark's BASE organization which
      offeres the certification
      for completion of the multi-week program and passing the organization administed exam. Student's participating
      in
      the program
      <strong>must complete BASE's Excel Level 1 program </strong>prior to joining the program. Anyone is welcome to
      access materials in the
      <a href="/guides">guides</a> section of this site to prepare for working with Excel as well as <a
        href="https://sites.google.com/view/base2022/excel-workshops" target="_blank">Level One Excel content</a>
      to help develop their skills, but will not be rewarded with certification unless they've completed the program.

    </p>
  </section>
</div>
<!-- showcase -->
<div class="sectionContainer">
  <section class="grid lg:grid-cols-2 gap-4">
    <div>
      <h3>Essential Data Skills</h3>

      <h2>What You'll Learn</h2>
      <p>This advanced workshop builds upon your Excel foundation, equipping you with powerful tools for data analysis
        and manipulation. You'll dive into:</p>
      <ul class="list-disc px-4 mt-4">
        <li class=""><strong>Basic Python for Data Analysis:</strong> Learn the fundamentals of data fetching in Python,
          a
          versatile
          language used extensively in data science.</li>
        <li><strong>Advanced Excel Data Cleaning:</strong> Discover techniques to efficiently clean and prepare complex
          datasets for analysis.</li>
        <li><strong>Power BI Visualization:</strong> Explore Power BI to create interactive dashboards and compelling
          data visualizations.</li>
        <li><strong>Excel Macros for Automation:</strong> Automate repetitive tasks and streamline your workflow with
          Excel macros.</li>
      </ul>
    </div>
    <div class="carousel carousel-center rounded-box max-w-md space-x-4 p-4">
      <div id="item1" class="carousel-item">
        <img src="{{ url_for('static', filename='/images/excel_logo.png') }}"
          class="rounded-box object-contain h-128 w-96 bg-black/30 p-20" />
      </div>

      <div class="carousel-item">
        <img src="{{ url_for('static', filename='/images/excel_sheet.png') }}"
          class="rounded-box object-cover h-128 w-96" />
      </div>
      <div id="item2" class="carousel-item">
        <img src="{{ url_for('static', filename='/images/python_logo.png') }}"
          class="rounded-box object-contain h-128 w-96 bg-black/30 p-16" />
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='/images/Python_code.png') }}"
          class="rounded-box object-cover h-128 w-96" />
      </div>

      <div id="item3" class="carousel-item">
        <img src="{{ url_for('static', filename='/images/power_bi.png') }}"
          class="rounded-box object-contain h-128 w-96 bg-black/30 p-20" />
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='/images/power_bi_charts.jpg') }}"
          class="rounded-box object-cover h-128 w-96" />
      </div>


    </div>
    <div></div>

    <!-- Navigation Buttons Below Carousel -->
    <div class="flex w-full justify-center gap-2 py-2">
      <a href="#item1" class="btn btn-xs">1</a>
      <a href="#item2" class="btn btn-xs">2</a>
      <a href="#item3" class="btn btn-xs">3</a>
    </div>

  </section>
</div>

<!-- features -->
<div class="sectionContainer">
  <section>
    <div class="card lg:card-side bg-zinc-800 w-full border border-zinc-600 shadow-md lg:grid lg:grid-cols-2">
      <figure>
        <img src="{{ url_for('static', filename='/images/workshop_ex.png') }}" class="object-cover">
      </figure>
      <div class="card-body">
        <h2>Workshop Experience</h2>
        <h3>In-Person Workshops</h3>
        <p>Engage in interactive, hands-on learning sessions led by experienced instructors. Our in-person workshops
          provide a collaborative environment to practice your skills and receive personalized guidance.</p>

        <h3>Rutgers Business School Certification</h3>
        <p>Upon successful completion of the Advanced Excel Workshop and passing the organization-administered exam,
          you'll receive a certification from the Rutgers Business School's Business Association of Supply Expertise
          (BASE). This certification validates your proficiency in advanced Excel, Python, Power BI, and data analysis
          skills, enhancing your professional portfolio.</p>
        <div class="card-actions justify-end">
          <a href="/guides"><button class="btn btn-primary">Get Started</button></a>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- requirements -->
<div class="sectionContainer">
  <section>
    <h2>Requirements</h2>
    <h3>Prerequisites</h3>
    <p>To enroll in the Advanced Excel Workshop, participants must have successfully completed the BASE Excel Level 1
      program. This ensures a foundational understanding of Excel basics, allowing us to delve into more advanced
      concepts.</p>
    <h3>Campus Availability</h3>
    <p>Please note that the in-person workshops are exclusively available on the <strong>Rutgers Newark campus.</strong>
    </p>
  </section>
</div>


<!-- form -->
<div class="sectionContainer">
  <section id="get-notified">
    <h2>Stay Connected</h2>
    <h3>Follow BASE on Instagram</h3>
    <p>Keep up-to-date with the latest workshop announcements, events, and resources by following the Rutgers Business
      Association of Supply Expertise (BASE) on Instagram. Join our community and connect with fellow learners!</p>
    <p><a href="https://www.instagram.com/itsallaboutbase/" target="_blank" class=" text-2xl">Follow us
        @<span class="underline font-bold">itsallaboutbase</span></a></p>
  </section>
  <section class="bg-white text-black rounded-2xl p-8 w-96! mx-auto">

    <form action="" class="flex-col flex space-y-2" hx-get="/submit-form" hx-target="this" hx-swap="innerHTML">
      <label for="email">Get notified on workshops via Email</label>
      <input type="email" required class="border rounded-sm px-2 py-1" placeholder="jxt3751@scarletmail.rutgers.edu">
      <input type="submit" class="btn">

    </form>
    <div id="message">
      <!-- The response will be inserted here -->
    </div>
  </section>
</div>

{% endblock %}