{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}


<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">BASE Advanced Excel Workshop</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="../static/images/hero-alt.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

      <div class="container">
        <h3>About</h3>
        <h2>BASE Advanced Excel Workshop</h2>
        <p>
            The Business Association of Supply Expertise(BASE) is a Rutgers Business School student organization focusing on preparing students 
            for entering the world of supply chain. This program is created and ran by the Newark's BASE organization which offeres the certification
            for completion of the multi-week program and passing the organization administed exam. Student's participating in the program 
            <strong>must complete BASE's Excel Level 1 program </strong>prior to joining the program. Anyone is welcome to access materials in the
            <a href="/guides">guides</a> section of this site to prepare for working with Excel as well as <a href="https://sites.google.com/view/base2022/excel-workshops" target="_blank">Level One Excel content</a>
            to help develop their skills, but will not be rewarded with certification unless they've completed the program.

        </p>
        <form action="">
            <h3>Register</h3>
            <label for="net_id">Net ID:</label>
           
            <input type="text" name="" id="" required>
            <label for="net_id">Name</label>

            <input type="text" name="" id=" " required>
            <label for="alt_email">Alternate Email</label>

            <input type="email" name="" id="" required>
            <br>
            <input type="submit" name="" id="" >

        </form>


        <h3>Overview</h3>
        <h2>What to Expect</h2>
        <p>
            Throughout this program, students will gain skills working with data and the tools most widely used for such tasks within a business setting.
            The program will progressively build on prior weeks knowledge as well as final product.
            <p>Students will learn:</p>
            <ul>
                <li>
                    fetching data with Python,
                </li>
                <li>
                    cleaning data with Excel functions
                </li>
                <li>    
                    automating the process with macros
                </li>
                <li>
                    generating data visualizations with PowerBI
                </li>
                <li>
                    performing statistical calculation in Python+Excel
                </li>
            </ul>
         These skills will be put to practical use in a final report of program's data which will automatically be generated using VBA.
        </p>
        <h3>Getting started</h3>
        <h2>First Day Materials</h2>
        <p>RBS labs should come with required technology to complete this program. However, we ask students verify the machine they are on has the
            following software. Please refer to vendor website for any issues with setup or if in program follow setup steps provided on screen.
            <ul>
                <li>Microsoft Office(Excel, PowerPoint, PowerBI)</li>
                <li>Anaconda Spyder</li>
                <li>Rutgers Box(optional for uploading data)</li>
            </ul>

        </p>

      </div>

{% endblock %}