@import "tailwindcss";

/* 
run to have changes watched
npm i -D daisyui@latest
npx @tailwindcss/cli -i ./static/src/input.css -o ./static/output.css --watch

*/

/* @plugin "daisyui"; */
@plugin "daisyui";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html {
  @apply scroll-smooth  bg-zinc-900;
}

.sectionContainer {
  @apply flex-col justify-center  w-screen  bg-zinc-900;
}

section {
  @apply lg:w-[900px] md:w-[700px] sm:w-[500px] max-sm:w-full sm:mx-auto max-sm:px-8 my-8;
}
h1 {
  @apply my-2 text-4xl;
}
h2 {
  @apply my-2 lg:text-3xl text-2xl  text-green-500;
}
h3 {
  @apply my-2 text-xl text-emerald-700;
}
h4 {
  @apply my-2 text-lg;
}
p {
  @apply my-2 !text-zinc-300;
}

.btn {
  @apply bg-emerald-500 hover:bg-emerald-600 border border-emerald-700 shadow-none;
}
body {
  word-wrap: break-word; 

  @apply bg-zinc-900;
}
pre {
  white-space: pre-wrap;  /* Wraps text but preserves white-space formatting */
  word-wrap: break-word;  /* Ensures long words break to avoid overflow */
  overflow: hidden;       /* Hides any overflow content */
  width: 100%;            /* Ensures it doesn't exceed its container's width */
  box-sizing: border-box;  
  @apply bg-zinc-900 border border-zinc-700 p-4 rounded-2xl text-purple-300 flex whitespace-pre-wrap break-words overflow-hidden w-full box-border;
}
code {
  white-space: nowrap;  /* Prevents line breaks within the code */
  overflow: hidden;     /* Prevents overflow */
  text-overflow: ellipsis;
  @apply max-sm:w-[300px] ;
}
pre, code {
  max-width: 100%;  /* Prevents content from exceeding the container width */
  display: block;   /* Ensures block behavior (in case of inline styles) */
}
ul {
  @apply list-disc
}